# WeatherScraping settings
WeatherScraping__DefaultProvider=3bMeteo
WeatherScraping__EnabledProviders__0=3bMeteo
WeatherScraping__Locations__0=Bergamo
WeatherScraping__JobIntervalMinutes=60

# WeatherFileStorage settings
WeatherFileStorage__Enabled=true
WeatherFileStorage__OutputPath=/app/weather-data
WeatherFileStorage__JobIntervalMinutes=60
WeatherFileStorage__CleanupEnabled=false
